
/* display none styles */
a#prev-activity-link, a#next-activity-link, a.ccn-mod-forum-btn , a.feedbackBtn, a.reserveBtn{
display: none !important;
}
.urlselect{
    display: none !important;
  }
  a#prev-activity-link :hover , a#next-activity-link :hover, a.ccn-mod-forum-btn:hover, a.feedbackBtn:hover, a.reserveBtn:hover{
    display: none !important;

  }




/* Files Css ( QUIZ , Assignment, Files , etc..) */

.continuebutton{
    display: none !important;
}
#prev-activity-link,
#next-activity-link 
{
    background:  linear-gradient(to right, #667db6 10%, 55%, #0082c8 100%) !important ;

}
.singlebutton  form button{
    background:  linear-gradient(to right, #667db6 10%, 55%, #0082c8 100%) !important ;

}

.cell a img {
    display: none !important; 
}



/* footer */

.footer-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

a, button , a i {
    background: #0082c8 !important;
}
a i.fa-arrow-up{
    color:white !important;
}
.ourSection , .notification-area .control-area .content .content-item-container , .notfContent p{
    background:  linear-gradient(to right, #667db6 10%, 55%, #0082c8 100%) !important ;
}
.notfContent p , .notfContent p a , .notfContent p h4{
    color:black !important;
}
.ourForumtable thead {
    background-color: #0082c8 !important;
}
.ccn-form-post-core header{
    background:  linear-gradient(to right, #667db6 10%, 55%, #0082c8 100%) !important ;
}

/* resource video  */

iframe{
    height: 100% !important;
}