:root{
    --ligthGreen :'#0070B2';
 }
 .dropdown .notification_icon{background:#0070B2 !important;}
 
 .simplebar-content .list-group a:nth-of-type(2),
 .simplebar-content .list-group a:nth-of-type(3),
 .simplebar-content .list-group a:nth-of-type(4){display:none;}
 
 #sectionThree .course .course-content button a{color: #fff !important;}
 
 /*  */
 .details .cc_tab h4.panel-title {
     background-color: #0070B2 !important;
 }
 #accordion .panel-title{background-color: #0070B2 !important;}
 #accordion .panel-title a {color:#fff;}
 #accordion .panel-heading a.collapsed:hover,
 #accordion .panel-heading a.collapsed:focus ,
 #accordion .panel-heading a:not(.collapsed){color:#fff !important;}
 #accordion .panel-heading .accordion-toggle::before,
 #accordion .panel-heading .accordion-toggle.collapsed::before{color:#fff !important;}
 
 #ccnSettingsMenuContainer #ccnSettingsMenu,
 #ccnSettingsMenuContainer #region-main-settings-menu{background-color: #0070B2 !important;}
 
 button[type=submit],input[type=submit],.btn:not(.dropdown-toggle){
     color:#fff !important;background-color: #0070B2 !important;
     border-color: #0070B2 !important;
 }
 
 /* https://academy2022.nitg-eg.com/mod/forum/view.php?id=18 */
 .breadcrumb_widgets{background: #0070B2 !important;}
 .dashboard_main_content .breadcrumb_widgets .title,
 .dashboard_main_content .breadcrumb_widgets .title a{color:#fff !important;}
 .breadcrumb_widgets .breadcrumb .breadcrumb-item,
 .breadcrumb_widgets .breadcrumb .breadcrumb-item a{
     color : #fff !important ;
 }
 .breadcrumb-item+.breadcrumb-item::before{color:#fff !important;}
 
 .dashboard_main_content .btn-primary,
 .dashboard_main_content .btn-secondary,
 .dashboard_main_content .btn:not(.btn-link),
 .ccn_context_frontend .primary-navigation .moremenu .ccn-activate-more-dropdown>a.dropdown-toggle,
 .modal:not(.sign_up_modal) .btn-primary, .modal:not(.sign_up_modal) .btn-secondary,
 .modal:not(.sign_up_modal) .btn:not(.btn-link),
 .ccn-forum-discussion-tools .btn.btn-link.dropdown-toggle,
 .format-remuiformat .course-content .cards .wdm-card-section .card-section-leftnav .btn,
 .format-remuiformat .course-content .cards .wdm-card-section .card-section-rightnav .btn,
 .message_container .iu_heading .candidate_revew_search_box .btn{
     background: #0070B2 !important;color:#fff !important;
 }
 
 .dashboard_main_content .btn-primary:hover,
 .dashboard_main_content .btn-secondary:hover,
 .dashboard_main_content .btn:not(.btn-link):hover,
 .modal:not(.sign_up_modal) .btn-primary:hover,
 .modal:not(.sign_up_modal) .btn-secondary:hover,
 .modal:not(.sign_up_modal) .btn:not(.btn-link):hover,
 .btn-secondary:hover, .btn-primary:hover,
 .page-context-header .btn:hover,
 .ccn_context_frontend .primary-navigation .moremenu .ccn-activate-more-dropdown>a.dropdown-toggle:hover,
 .ccn-forum-discussion-tools .btn.btn-link.dropdown-toggle:hover,
 .format-remuiformat .course-content .cards .wdm-card-section .card-section-leftnav .btn:hover,
 .format-remuiformat .course-content .cards .wdm-card-section .card-section-rightnav .btn:hover,
 .message_container .iu_heading .candidate_revew_search_box .btn:hover,
 .primary-navigation .moremenu.navigation .ccn-activate-more-dropdown>.btn:focus{
     background: #0070B2 !important;color:#fff !important;
 }
 
 /* https://academy2022.nitg-eg.com/course/view.php?id=3 */
 #accordion .panel-title{background-color: #0070B2 !important;}
 #accordion .panel-title a {color:#fff;}
 .badge, .badge-pill{background-color: #0070B2 !important;}
 
 div[class="activity-information"],div[class="availabilityinfo isrestricted isfullinfo"]{
     display:none !important;
 }
 .dashboard_main_content .breadcrumb_widgets .title a{color:#fff !important;}
 .activity-navigation a{color:#fff;}
 .generaltable thead tr th{background:#0070B2 !important;}
 .submissionlinks .btn{
     background:#0070B2 !important;
     border-color:#0070B2 !important;
 }
 a#prev-activity-link, a#next-activity-link,
 a.ccn-mod-forum-btn, a.feedbackBtn, a.reserveBtn{
 color: #fff !important;
 border-color:#0070B2 !important ;
 }
 .btn-secondary,.btn-secondary:visited{
     color: #fff !important;
     border-color:#0070B2 !important ;
 }
 .generaltable tbody tr:nth-of-type(odd)>th{
     color: #fff !important;
     border-color:#0070B2 !important ;
     background:#0070B2 !important ;
 }
 
 .generaltable tbody>tr:nth-of-type(odd){
     color: #fff !important;border-color:#0070B2 !important ;
     background:#0070B2 !important;
 }
 .path-mod-quiz .othernav a, .path-mod-quiz .othernav input {
     color: #fff !important;background:#0070B2 !important;
 }
 .mod_quiz-prev-nav,.mod_quiz-prev-nav{
     color: #fff !important;background:#0070B2 !important;
 }
 .btn-thm.white:hover, .btn-thm.white:active, .btn-thm.white:focus{
     color: #fff !important;background:#0070B2 !important;
 }
 .discussion-list thead tr th{
    color: #fff !important;background:#0070B2 !important;
 }  