{{!
    Student invoices list.
    Context:
    * invoices: array of { invoice_number, item_name, source_label, amount,
                           status_label, status_class, date, view_url, pdf_url }
}}
{{#has_invoices}}
<div class="table-responsive">
    <table class="table table-striped generaltable">
        <thead>
            <tr>
                <th>{{#str}}invoice_number, local_payments{{/str}}</th>
                <th>{{#str}}invoice_type, local_payments{{/str}}</th>
                <th>{{#str}}invoice_item, local_payments{{/str}}</th>
                <th>{{#str}}amount, local_payments{{/str}}</th>
                <th>{{#str}}date, local_payments{{/str}}</th>
                <th>{{#str}}actions, local_payments{{/str}}</th>
            </tr>
        </thead>
        <tbody>
            {{#invoices}}
            <tr>
                <td><code>{{invoice_number}}</code></td>
                <td>{{source_label}}</td>
                <td>{{item_name}}</td>
                <td>{{amount}}</td>
                <td>{{date}}</td>
                <td>
                    <a class="btn btn-sm btn-secondary" href="{{view_url}}">{{#str}}invoice_view, local_payments{{/str}}</a>
                    <a class="btn btn-sm btn-primary" href="{{pdf_url}}">{{#str}}invoice_downloadpdf, local_payments{{/str}}</a>
                </td>
            </tr>
            {{/invoices}}
        </tbody>
    </table>
</div>
{{/has_invoices}}
